:root {
  --grid-row: 1;
  --grid-col: 1;
}

html {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  background-color: #7abdc9;
  color: #444444;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: funkydori, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fddc22;
  font-size: 5rem;
  padding: 1rem;
  line-height: 0;
  margin-bottom: 0.5rem;
}

button {
  padding: 0.3rem 1.5rem;
}

footer {
  margin-top: 1rem;
}

i {
  color: #fff;
  align-self: center;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1rem 12rem;
}

.etch-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 60%;
  border-radius: 3rem;
  background-color: #f53d3d;
  padding: 0 3rem 2rem 3rem;
  box-shadow: 0px 0px 20px rgba(81, 147, 158, 0.808);
}

.sketch {
  display: grid;
  grid-template-columns: repeat(var(--grid-col), 1fr);
  grid-template-rows: repeat(var(--grid-row), 1fr);
  background-color: rgb(189, 189, 189);
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
}

.cells {
  border-top: 1px solid #a7a7a7;
  border-right: 1px solid #a7a7a7;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  max-width: fit-content;
}

.pen-size {
  display: flex;
  gap: 0.5rem;

  .active {
    background-color: #f8b809;

    &:hover {
      background-color: #ffd768;
    }
  }

  button {
    background-color: #fff;
    border: none;
    border-radius: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #961919;
    transition: 300ms ease-in-out;

    &:hover {
      background-color: #f8b809;
    }
  }
}

.pen-colors {
  display: flex;
  gap: 0.5rem;

  .active {
    background-color: #f8b809;

    &:hover {
      background-color: #ffd768;
    }
  }

  button {
    background-color: #fff;
    border: none;
    border-radius: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #961919;
    transition: 300ms ease-in-out;

    &:hover {
      background-color: #f8b809;
    }
  }
}

.pen-erase {
  button {
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    margin: 0.3rem;
    padding: 0;
    transition: 300ms ease-in-out;

    &:hover {
      transform: rotate(10deg);
    }

    i {
      color: #f8b809;

      &:hover {
        color: #ffd768;
      }
    }
  }
}
